{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <title>Lista de Empleados</title>
</head>
<body>

<h2>Lista de Empleados</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Profesión</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.edad }}</td>
                <td>{{ empleado.profesion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<button onclick="goBack()">Regresar</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
{% endblock %}