{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <title>Lista Departamentos</title>
</head>
<body>

<h2>Lista Departamentos</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Modalidad de Trabajo</th>
            <th>Sueldo Promedio</th>
        </tr>
    </thead>
    <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.nombre }}</td>
                <td>{{ departamento.modalidad_trabajo }}</td>
                <td>{{ departamento.sueldo_promedio }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<button onclick="goBack()">Regresar</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
{% endblock %}